.hero-section {
  position: relative;
  width: 100%;
  height: auto;
}

.hero-content {
  position: relative;
}
.hero-bg-content {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 899;
  color: rgba(255, 255, 255);
}

.hero-bg-content .hero-title {
  font-weight: 900;
  font-family: "Britanica-semi-expanded-thin";
  font-size: 11.5em;
  text-shadow: 3px 0px 7px rgba(255, 255, 255, 0.1),
    -3px 0px 7px rgba(255, 255, 255, 0.1), 0px 4px 7px rgba(255, 255, 255, 0.1);
}
.hero-bg-content .hero-title::before,
.hero-bg-content .hero-title::after {
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  content: "";
  height: 405px;
  position: absolute;
  width: 400px;
  z-index: 2;
}
.hero-bg-content .hero-title::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.hero-bg-content .hero-description {
  position: absolute;
  top: 120px;
  right: 150px;
  /* bottom: 150px; */
  font-weight: 900;
  text-align: right;
  font-family: "Lato";
  font-size: 50px;
  line-height: 1.6em;
  letter-spacing: 1.5px;
}

.hero-bg-content .hero-description::before {
  content: "";
  border-top: 1px solid white;
  position: absolute;
  top: 35px;
  left: -130px;
  height: 200px;
  width: 80px;
}

.hero-moving-text {
  position: absolute;
  top: 500px;
  left: -100px;
  font-family: "Lato";
  font-weight: 900;
  z-index: 100;
  color: rgba(255, 255, 255, 0.15);
  font-size: 17vw;
  transition: transform 2s ease;
  white-space: nowrap;
  z-index: -1;
}

.hero-moving-text1 {
  position: absolute;
  top: 500px;
  left: -300px;
  font-family: "Lato";
  color: rgba(255, 255, 255, 0.8);
  font-weight: 900;
  z-index: -1;
  font-size: 17vw;
  transition: transform 0.3s ease;
  white-space: nowrap;
  transform: rotate(90deg);
}

/* hero-bg-image */
.hero-content .image{
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  /* align-items: center; */
}
.hero-content .image img{
  box-shadow: 0 3px 10px rgb(255 255 255 / 0.3) ;
  position: absolute;
  width: 400px;
  height: 550px;
}

@media screen and (max-width: 1199.98px) {
  .hero-moving-text {
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 15vw;
  }
  
  .hero-moving-text1 {
    position: absolute;
    /* top: 10%; */
    top: 200px;
    left: 100px;
    transform: translate(-50%) ;
    font-size: 15vw;
  }
}
